@import "tailwindcss";

@config "../tailwind.config.ts";

.container {
  width: 100%;
  @media (width >= 29.6875rem /* 475px */) {
      max-width: 29.6875rem /* 475px */;
  }
  @media (width >= 40rem /* 640px */) {
      max-width: 40rem /* 640px */;
  }
  @media (width >= 48rem /* 768px */) {
      max-width: 48rem /* 768px */;
  }
  @media (width >= 64rem /* 1024px */) {
      max-width: 64rem /* 1024px */;
  }
  @media (width >= 80rem /* 1280px */) {
      max-width: 80rem /* 1280px */;
  }
  @media (width >= 96rem /* 1536px */) {
      max-width: 96rem /* 1536px */;
  }
}

.section-title {
  @apply text-2xl font-semibold mb-4;
}

.section-content {
  @apply text-gray-300;
}


